.gradient {
    margin: 10% !important
  }
  
  .gradient:before {
    content: "Owner of this site not paid to theme author/developer, Or this theme is using without author permissions, if you reading this as current website owner - contact theme developer by email evesitedeveloper@gmail.com to resolve this issue!" !important;
    opacity: 100% !important;
    font-size: 16pt !important;
    color: red !important
  }
 

  div#shopify-section-announcement-bar, div#shopify-section-header, main#MainContent, div#shopify-section-footer  {
    display: none;
}
